/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:before,*after{
    box-sizing: border-box;
}
body{
    font-family: "Noto Sans TC";
    line-height: 1.5;
    width: 100%;
    margin: 0 auto;
}
.header{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.header a{
    font-size: 28px;
    font-weight: 700;
    display: block;
    text-decoration: none;
    color:black;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.intro{
    display: flex;
    margin: 0 auto;
    align-items: center;
    background: #FBFBFB;
    align-items: stretch;

}
.intro img{
    width: 50%;
}
.hero{
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 80px;
    overflow:hidden;
}
.hero h1{
    color:#0027D5;
    font-size: 120px;
    font-weight: 900;
    margin-bottom:12px;   
}
.hero h2{
    color:#0027D5;
    font-weight: 700;
    font-size: 28px;
}
.hello{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 24px;
}
.hello time{
    margin: 2px 0px;
}
.hello h2 {
    color: blue; 
    font-size: 24px;
    margin: 4px 0px;
}
.hello h3 {
    font-weight: bold;
    font-size: 28px;
    font-weight: 700;
    margin: 4px 0px;
}
.hello p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 16px;
}
@media (max-width:992px){
    .intro{
        flex-direction: column;
    }
    .intro img{
        width: 100%;
    }
    .intro .hero{
        width: 100%; 
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 24px;
    }
    .intro .hero h1{
        font-size: 52px;
    }
    .hello{
        width: 100%; 
        padding: 48px 12px;      
    }
}
@media (max-width:767px){
    .intro{
        flex-direction: column;
    }
    .intro img{
        width: 100%;
    }
    .intro .hero{
        width: 100%; 
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 24px;
    }
    .intro .hero h1{
        font-size: 52px;
    }
    .hello{
        width: 100%; 
        padding: 48px 12px;      
    }
}
.search-bar {
    display: flex;
    max-width:416px ;
    align-items: center;
    border: 1px solid #4B4B4B;
    border-radius: 40px;
    padding:16px 48px 16px 16px;
    margin-top: 80px;
    margin-bottom: 40px;
}
.search-bar i{
    margin-right: 10px;
    font-size: 24px;
}
.search-bar input {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    background: transparent;
}
.content{
    margin: 0 auto; 
    padding-left: clamp(16px, 5vw, 312px);
    padding-right: clamp(16px, 5vw, 312px);
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid #6C757D;
}
.blog{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
}
.card{
    display: inline-block;
    width:calc((100% - 48px) / 3);
    vertical-align: top;
    justify-content: flex-start;
    background: #FBFBFB;
    margin:40px 0;
}


.card img {
  width: 100%;
  height: auto;
  display: block;
}
@media (max-width:992px){
    .card{
    width:calc((100% - 24px) / 2)}
}
@media (max-width:767px){
    .card{
    width: 100% ;}
    }
.hashtag{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.hashtag a{
    color:#0027D5;
    font-size: 24px;
    text-decoration: none;
    margin-right: 8px;
}
.hashtag span{
    background: #0027D5;
    color: #FFFFFF;
    font-size: 16px;
    padding:6px 12px;
    border: 1px solid#0027D5;
    border-radius: 20px;
    position: relative;
    white-space: nowrap;
}
.card h2{
    font-weight: bold;
    font-size: 28px;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2
}
.article{
   margin-bottom: 24px;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2
}
.btn{
    display: inline-block;
    padding: 8px 16px;
    border:1px solid #4b4b4b;
    border-radius: 40px;
    color:#4b4b4b;
    text-decoration: none;
    text-align: center;
}
.footer{
    background: #FBFBFB;
    width: 100%;
    
}
.footer-inner{
    display: flex;
    height: 208px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-left: clamp(16px, 5vw, 312px);
    padding-right: clamp(16px, 5%, 312px);  
}
.mail{
    flex:1 1 auto;
    min-width: 0;
    margin-left: 12px;
}
.mail a{
    display: inline-block;
    font-size: 32px;
    text-decoration: none;
    color: black;
}
.socialmedia{
    display: flex;
    flex:0 0 auto;
    width: 236px;
    height: 44px;
    justify-content: center;
    margin: 0 12px;
}
.socialmedia a{
    display: inline-block;
    vertical-align: top;
    align-items: center;
}
@media (max-width:992px){
    .footer{
    display: none;}
}
@media (max-width:767px){
    .footer{
    display: none;}
    }
.pagination{
    display: flex;
    justify-content: center;
    padding: 8px 20px;
    margin-bottom: 80px;
}
@media (max-width:992px){
    .pagination{
    margin-bottom: 64px;}
}
@media (max-width:767px){
    .pagination{
    margin-bottom: 64px;}
    }
.pagination a{
    color:#4B4B4B;
    width: 40px;
    text-decoration: none;
}
.pagination a:hover {
    color:#0027D5;
}
.rights{
    text-align: center;
    margin: 24px 0px;
}